basePath: /
definitions:
  domain.Film:
    properties:
      id:
        type: integer
      name:
        type: string
      previewPath:
        type: string
      rating:
        type: number
    type: object
host: 127.0.0.1E
info:
  contact:
    email: ax.chinaev@yandex.ru
    name: Alex Chinaev
    url: https://vk.com/l.chinaev
  description: API of the nelfix project by holi
  license:
    name: AS IS (NO WARRANTY)
  title: Netfilx API
  version: "1.0"
paths:
  /api/v1/auth/login:
    post:
      consumes:
      - application/json
      description: create user session and put it into cookie
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
          schema:
            type: json
        "403":
          description: Forbidden
          schema:
            type: json
        "404":
          description: Not Found
          schema:
            type: json
        "500":
          description: Internal Server Error
          schema:
            type: json
      summary: login user
      tags:
      - auth
  /api/v1/auth/logout:
    post:
      description: delete current session and nullify cookie
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
          schema:
            type: json
        "403":
          description: Forbidden
          schema:
            type: json
        "404":
          description: Not Found
          schema:
            type: json
        "500":
          description: Internal Server Error
          schema:
            type: json
      summary: logout user
      tags:
      - auth
  /api/v1/auth/register:
    post:
      consumes:
      - application/json
      description: add new user to db and return it id
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: json
        "400":
          description: Bad Request
          schema:
            type: json
        "500":
          description: Internal Server Error
          schema:
            type: json
      summary: register user
      tags:
      - auth
  /api/v1/films/genre/{genre}:
    get:
      description: Get a list of films based on the specified genre.
      parameters:
      - description: The genre of the films you want to retrieve.
        in: path
        name: genre
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/domain.Film'
            type: array
        "400":
          description: Bad Request
          schema:
            type: json
        "404":
          description: Not Found
          schema:
            type: json
        "500":
          description: Internal Server Error
          schema:
            type: json
      summary: Get films by genre
      tags:
      - films
schemes:
- http
swagger: "2.0"
