{
    "schemes": [
        "Zhttp"
    ],
    "swagger": "2.0",
    "info": {
        "description": "API of the nelfix project by holi",
        "title": "Netfilx API",
        "contact": {
            "name": "Alex Chinaev",
            "url": "https://vk.com/l.chinaev",
            "email": "ax.chinaev@yandex.ru"
        },
        "license": {
            "name": "AS IS (NO WARRANTY)"
        },
        "version": "1.0"
    },
    "host": "127.0.0.1E",
    "basePath": "/",
    "paths": {
        "/api/v1/auth/login": {
            "post": {
                "description": "create user session and put it into cookie",
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "auth"
                ],
                "summary": "login user",
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "{\"error\":\"\u003cerror message\u003e\"}",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "{\"error\":\"\u003cerror message\u003e\"}",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "404": {
                        "description": "{\"error\":\"\u003cerror message\u003e\"}",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "{\"error\":\"\u003cerror message\u003e\"}",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/api/v1/auth/logout": {
            "post": {
                "description": "delete current session and nullify cookie",
                "tags": [
                    "auth"
                ],
                "summary": "logout user",
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "{\"error\":\"\u003cerror message\u003e\"}",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "{\"error\":\"\u003cerror message\u003e\"}",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "404": {
                        "description": "{\"error\":\"\u003cerror message\u003e\"}",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "{\"error\":\"\u003cerror message\u003e\"}",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/api/v1/auth/register": {
            "post": {
                "description": "add new user to db and return it id",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "auth"
                ],
                "summary": "register user",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/http.Result"
                        }
                    },
                    "400": {
                        "description": "{\"error\":\"\u003cerror message\u003e\"}",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "{\"error\":\"\u003cerror message\u003e\"}",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "http.Result": {
            "type": "object",
            "properties": {
                "body": {},
                "err": {
                    "type": "string"
                }
            }
        }
    }
}